* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list-items {
    height: 100px;
    width: 100%;
    background-color: aqua;
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}